#chartdiv {
    width: 100%;
}

.table {
    margin-bottom: 0;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.status_open {
    color: green;
}

.status_closed {
    color: red;
}

.login-form {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.form-control {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}
