#chartdiv {
    width: 100%;
    height: 500px;
}

.table {
    margin-bottom: 0;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.status_open {
    color: green;
}

.status_closed {
    color: red;
}

